form{
	 
    width: 45%;
    height: 45%;
    margin-left: 25%;
   opacity:0.8;
    
    margin-top:3%;
   
}

input[type=text],[type=number],[type=email],[type=password]{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0; 
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 35%;
  border: black solid 1px;
   

}
 label{
     margin-left: 35%;
     color:white;
 } 
 
 button[type=submit]{
 margin-left:60%;
 background-color: green;
 color:black;
 }
 
 h2,h1,h3{

 color:orange;
 margin-top:5%;
 margin-left:42%
 
 }
 
 body{
      background: url(images/car6.jpg) no-repeat center center fixed;
      background-size: cover;
     
}